src/main/mule/validation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get:\validate-user:user-process-api-config" doc:id="d8b303fc-2cf6-4c82-821d-cc404803e8a9" >
		<logger level="INFO" doc:name="Logger" doc:id="bccd0a69-2e4e-4e47-937b-e0e561010594" message="USER VALIDATION STARTS"/>
		<db:select doc:name="Select" doc:id="ba98d422-18ba-4c00-a0a2-188af5e3fe47" config-ref="Database_Config" target="userdata">
			<db:sql ><![CDATA[select * from userlogin where login_id=:id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:attributes.queryParams."corelation-id"
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="014f5ac5-03d0-45a5-817a-ef0b75e65d2d" >
			<when expression="#[vars.userdata[0].user_id != null]">
				<http:request method="GET" doc:name="Request" doc:id="213e8aac-af38-45bd-bdb5-4cf906cd7865" config-ref="HTTP_Request_configuration" path="/get-user" target="userdata2">
					<http:headers ><![CDATA[#[output application/java
---
{
	"correlation_id" : "dffgvr",
	"client_secret" : "rtgrhgty",
	"client_id" : "tthtyhy"
}]]]></http:headers>
					<http:query-params ><![CDATA[#[output application/java
---
{
	"id" : vars.userdata[0].user_id
}]]]></http:query-params>
				</http:request>
				<ee:transform doc:name="Transform Message" doc:id="8d4b833c-d3db-4f72-88bc-374b746f390d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  user_id: vars.userdata2[0].user_id,
  user_name: vars.userdata2[0].user_name,
  user_role: vars.userdata2[0].user_role,
  user_email: vars.userdata2[0].email_id,
  user_login_time: vars.userdata[0].login_time
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="1fd11d16-88df-4af9-a814-00e15b63116f" type="USER:NOT_FOUND" description="USER NOT LOGGED IN"/>
			</otherwise>
		</choice>
	</flow>
</mule>
